{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bonjour</h1>

    <h4>Liste de nos prochains évènement</h4>
    <ul>
        {% for event in events %}
            <li> {{event.name}} => {{event.date|date('d/m/Y')}} </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
